<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  .destroy {
    margin-left: 400px;
  }

</style>
<div class="mainn">
  <section class="main" [ngClass]="{hidden:noTodoClass$ | async}">

    <div *ngIf="allCompleted" class="todo-list">
      <app-todo *ngFor="let todo of visibleTodos$ | async" [todo]='todo'></app-todo>
    </div>
    <!-- 
    <input id='toggle-all' type="checkbox" class="toggle-all" [checked]='isAllTodosSelected$ | async'
      (change)='toggleAllTodos($event)'>
    <label for="">Mark all as complete</label> -->

    <button *ngIf='isAllTodosSelected$' class="destroy" (click)='removeAllTodo($event)'><i class="fa fa-trash"
        style="font-size:24px;"></i>DeleteAll</button>
  </section>
</div>
