<div class="all">
  <div class="dos">
    <app-footer></app-footer>
  </div>


  <div class="dos">
    <app-header></app-header>
  </div>
  <div class="dos">
    <app-main></app-main>
  </div>
</div>
