.text {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.destroy {
  float: right;
  background-color: red;
}

.check {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
