<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div class="view">
    <input class="check" type="checkbox" [checked]='todoprops.isCompleted' (change)='toggleTodo()'>
    <label class="text">{{todoprops.text}}</label>
    <button *ngIf='selected==todoprops.isCompleted' class="destroy" (click)='removeTodo()'><i class="fa fa-trash"
        style="font-size:24px;"></i></button>
  </div>
</div>
