<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">



<footer class="footer" [ngClass]='{hidden:noTodosClass$ | async}'>
  <div class="head">
    <h3>#todo</h3>
  </div>
  <ul class="filter">

    <div class="fil">
      <button class="btn"><a href="/" [ngClass]='{selected:(filter$ | async) === filterEnum.all}'
          (click)='changeFilter($event,filterEnum.all)'>All</a></button>
    </div>
    <div class="fil">
      <button class="btn"><a href="/" [ngClass]='{selected:(filter$ | async) === filterEnum.active}'
          (click)='changeFilter($event,filterEnum.active)'>Active</a></button>
    </div>
    <div class="fil">
      <button class="btn"><a href="/" [ngClass]='{selected:(filter$ | async) === filterEnum.completed}'
          (click)='changeFilter($event,filterEnum.completed)'>Completed</a></button>
    </div>

    <span>
      <strong>
        {{activeCount$ | async}}
      </strong>
      {{itemsLeftText$ | async}}
    </span>

  </ul>
</footer>
