footer {

  width: 476px;
  margin-bottom: -15px;
  font-family: 'Raleway', sans-serif;
}

.fil {
  display: inline;
  padding: 10px;
  width: 50px;
}

.head {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;

  color: #333333;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

}

.btn:hover {
  background-color: blue;
  text-decoration: none;
}
